#topheader {
    display: inline;
}




#checkScore {
    display: inline;
    color: forestgreen;
    font-size: large;
    
}
.codingQuizChallenge {
   font-size: xx-large;
   text-align: center;
}

.paragraph {
    font-size: x-large;
    text-align: center;
}
#startGame {
    justify-items: center;
    color: forestgreen;
}
#time {
display: inline;

}