#topheader {
    display: inline;
}




#checkScore {
    display: inline;
    color: forestgreen;
    font-size: large;
    
}
.codingQuizChallenge {
   font-size: xx-large;
   text-align: center;
}

.paragraph {
    font-size: x-large;
    text-align: center;
}
#startdisplaypage{
    display: block;
    justify-items: center;
    
}
#startGame {
    margin-left: 920px;
}

#time {
display: inline;
float: right;
margin-top: -60px;
}