#topheader {
    display: inline;
}




#checkScore {
    display: inline;
    color: forestgreen;
    font-size: large;
    
}
.codingQuizChallenge {
   font-size: xx-large;
   text-align: center;
}

.paragraph {
    font-size: x-large;
    text-align: center;
}
#startdisplaypage{
    display: block;
    justify-items: center;
    
}
#startGame {
    font-size: xx-large;
    justify-items: center;
}

#time {
display: inline;
float: right;
margin-top: -60px;
color: red;
}

.questions {
    display: block;
    align-items: center;
    font-size: xx-large;
}

.buttonChoice {
    font-size: x-large;
    color: forestgreen;
}

.submitScores {
    display: flex;
    font-size: xx-large;
}

#allDone {
    color: forestgreen;
    
}
#finalScore {
    color: forestgreen;
}

#enterInt {
    color: forestgreen;
}
#submitInitialsBtn {
    font-size: x-large;
    color: forestgreen;
}